* {
    padding: 0;
    margin: 0;
}
body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 650px;
    font-family: 'Outfit', sans-serif;
}
.design-container {
    display: flex;
    align-items:center;
    min-height: 100vh;
}
.design {
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: 480px;
    border-radius: 15px;
    padding-top: 15px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-qr-code {
    width: 290px;
    border-radius: 10px;
    justify-content: center;
}
.design-text {
    padding: 0 25px 0 25px;
    margin-top: 25px;
}
.design-title {
    font-size: 21px;
    font-weight: bolder;
    text-align: center;
    color:hsl(218, 44%, 22%);
    margin-bottom: 20px;
}
.design-phrase {
    color: hsl(220, 15%, 55%);
    text-align: center;
}